[package]
name = "essential-constraint-vm"
version = "0.1.0"
edition = "2021"
description = "The Essential constraint checking VM"

[dependencies]
ed25519-dalek = { workspace = true }
essential-constraint-asm = { workspace = true }
essential-types = { workspace = true }
rayon = { workspace = true }
secp256k1 = { workspace = true }
sha2 = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
once_cell = { workspace = true }
rand = { workspace = true }
secp256k1 = { workspace = true, features = ["rand"]}
